.pop-up-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--text-white);
}

.password-section {
    display: grid;
    align-items: center;
    justify-content: start;

    grid-template-columns: 169px 169px;

    margin-bottom: 50px;
}

.save-button {
    min-width: 100%;
}

.cancel-button {
    min-width: 100%;
}
