<div class="main-content-crm">
    <div class="main-content-crm-second">
        <app-sidebar></app-sidebar>
        <div class="main-content-crm-full">
            <div class="content-crm">
                <div class="profile-header">
                    <p class="content-crm-title">Профиль</p>
                    <button (click)="nextPageWithUpdateInfo()" class="profile-edit">Изменить</button>
                </div>

                <section class="profile-data">
                    <div class="profile-data-title-section">
                        <div class="profile-data-title">Основные данные</div>
                        <div class="profile-data-title">Соцсети</div>
                    </div>

                    <div class="profile-data-list">
                        <div class="profile-data-item-title">ФИО</div>
                        <p class="profile-data-item-title">Вконтакте</p>
                        <p class="profile-item">{{ (user$ | async)?.fullName }}</p>
                        <p class="profile-item">{{ (user$ | async)?.vkLink || 'Не назначено' }}</p>
                        <p class="profile-data-item-title">Электронная почта</p>
                        <p class="profile-data-item-title">Телеграмм</p>
                        <p class="profile-item">{{ (user$ | async)?.email }}</p>
                        <p class="profile-item">{{ (user$ | async)?.telegramLink || 'Не назначено' }}</p>
                        <p class="profile-data-item-title">Телефон</p>
                        <p></p>
                        <p class="profile-item">{{ formatPhoneNumber((user$ | async)?.phone || 'Не назначено') }}</p>
                    </div>
                </section>

                <section class="profile-edit-password-section">
                    <button (click)="openDialogPassword(password)" class="profile-edit-password">
                        <p class="profile-edit-pass-title">Изменить пароль</p>
                    </button>
                </section>

                <section class="profile-connection">
                    <div class="profile-connection-title">Подключения</div>
                    <div #vkIdButton class="socials-btn" id="VkIdSdkOneTap"></div>
                </section>

                <section class="profile-logout-section">
                    <button (click)="logoutUser()" class="profile-logout">
                        <img alt="Заказы" height="24" ngSrc="assets/logout.svg" width="24">
                        <p class="profile-logout-title">Выйти</p>
                    </button>
                </section>

            </div>
        </div>
    </div>
</div>

<tui-root>
    <ng-template #password let-observer>
        <app-password-edit [observer]="observer"></app-password-edit>
    </ng-template>
</tui-root>

<app-password-edit class="hidden-pop"></app-password-edit>
