.orders {
    display: flex;
    width: 100%;
}

.orders-title {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    width: 100%;
    justify-content: end;

    padding-top: 32px;
}

.input-search {
    width: 20vw;
    padding-left: 40px;
}

.input-search-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--text-disabled);
}

.add-orders-button {
    background: var(--main-blue);
    border-radius: 8px;
    padding: 10px 24px;
    margin-right: 20px;

    border: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--text-white);

    cursor: pointer;
}

.add-orders-button:hover {
    background: #28aaff;
}

.add-orders-button:active {
    background: #005acd;
}

.side-add {
    width: 300%;
}

.all-orders {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--text-light-grey);
}

.orders-sort-title {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    width: 50vw;

    margin-top: 75px;
}

.orders-sort-second-title {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    width: 100%;
    justify-content: end;

    margin-top: 75px;
}

.orders-sort-item {
    border-radius: 10px;
    padding: 10px 16px;

    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--text-light-grey);

    border: none;
    background: none;
}

.orders-sort-item:hover {
    color: var(--main-blue);
}

.selected-stage {
    border-radius: 10px;
    padding: 10px 16px;
    background: var(--fields-form);
    color: var(--text-white);

    border: none;
}

.settings-orders {
    background: none;
    border: 1px solid transparent;

    cursor: pointer;
}

.custom {
    background: none;
    color: var(--text-white);
    margin-left: 8px;

    border: 1px solid transparent;

    cursor: pointer;
}

.custom:hover {
    border: 1px solid var(--main-blue);
    border-radius: 10px;
}

.custom:active {
    background: var(--main-blue);
    border-radius: 10px;

    border: 1px solid transparent;
}

.table {
    width: 100%;
    height: 100%;

    margin-bottom: 40px;
}

.table-th-full {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: var(--text-white);

    position: relative;
    top: 0;
    z-index: 0;
}

.table thead {
    position: sticky;
    top: 0;
    z-index: 0;

    background: var(--fields-form);
}

.table-th {
    padding: 22px 16px;
    border-radius: 10px 0 0 10px;
}

.table th:last-child {
    border-radius: 0 10px 10px 0;
}

.table th:nth-child(1),
.table th:nth-child(2),
.table th:nth-child(4) {
    width: 288px;
}

.table th:nth-child(3) {
    width: 168px;
}

.table th:nth-child(5) {
    width: 144px;
}

.img-sorted {
    margin-left: auto;
    margin-right: 16px;

    cursor: pointer;
}

.table-td-full {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--text-light-grey);

    text-align: left;

    border-bottom: 1px solid var(--stroke-dark-grey);
}

.table-td-full td:first-child {
    padding: 22px 16px;
}

.tui-data-list {
    max-height: 176px;
}

.scrollbar {
    margin-top: 20px;
    height: 100%;
    width: 100%;
}

.all-products-table {
    height: 100%;
}

.tui-input-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--text-light-grey);

    margin-right: 10px;
    margin-left: -7px;
}

.profile-data {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--text-light-grey);
}

.sort-button {
    background: none;
    border: 1px solid transparent;
    padding: 8px;
    width: 42px;

    align-self: center;

    cursor: pointer;
}

.sort-button:hover {
    border: 1px solid var(--main-blue);
    border-radius: 10px;
}

.sort-button:active {
    background: var(--main-blue);
    border-radius: 10px;

    border: 1px solid transparent;
}
