<nav class="sidebar">
    <ul class="sidebar-menu-list">
        <li class="sidebar-menu-list-item">
            <div class="sidebar-header">
                <p class="sidebar-title">Мастерска<span>Я</span></p>
            </div>
        </li>
        <li class="sidebar-menu-list-item">
            <button [class.active]="statesSidebar['isOrdersClicked']"
                    class="sidebar-router"
                    routerLink="/crm/orders"
                    routerLinkActive
            >
                <img alt="Заказы"
                     class="sidebar-item-img"
                     height="24"
                     ngSrc="{{ statesSidebar['isOrdersClicked'] ? 'assets/orders-active.svg' : 'assets/orders-disabled.svg' }}"
                     width="24">
                <p class="sidebar-item">Заказы</p>
            </button>
        </li>

        <li class="sidebar-menu-list-item">
            <button [class.active]="statesSidebar['isClientsClicked']"
                    class="sidebar-router"
                    routerLink="/crm/clients"
                    routerLinkActive
            >
                <img alt="Клиенты"
                     class="sidebar-item-img"
                     height="24"
                     ngSrc="{{ statesSidebar['isClientsClicked'] ? 'assets/clients-active.svg' : 'assets/clients-disabled.svg' }}"
                     width="24">
                <p class="sidebar-item">Клиенты</p>
            </button>
        </li>

        <li class="sidebar-menu-list-item">
            <button [class.active]="statesSidebar['isProductsClicked']"
                    class="sidebar-router"
                    routerLink="/crm/products"
                    routerLinkActive
            >
                <img alt="Товары"
                     class="sidebar-item-img"
                     height="24"
                     ngSrc="{{ statesSidebar['isProductsClicked'] ? 'assets/products-active.svg' : 'assets/products-disabled.svg' }}"
                     width="24">
                <p class="sidebar-item">Товары</p>
            </button>
        </li>

        <li class="sidebar-menu-list-item">
            <button [class.active]="statesSidebar['isShopClicked']"
                    class="sidebar-router"
                    routerLink="/crm/shop"
                    routerLinkActive
            >
                <img alt="Магазин"
                     class="sidebar-item-img"
                     height="24"
                     ngSrc="{{ statesSidebar['isShopClicked'] ? 'assets/shop-active.svg' : 'assets/shop-disabled.svg' }}"
                     width="24">
                <p class="sidebar-item">Магазин</p>
            </button>
        </li>
    </ul>

    <div class="sidebar-menu-list-item-profile">
        <button [class.active]="statesSidebar['isProfileClicked']"
                class="sidebar-router profile"
                routerLink="/crm/profile"
                routerLinkActive
        >
            <img alt="Профиль"
                 class="sidebar-item-img"
                 height="24"
                 ngSrc="{{ statesSidebar['isProfileClicked'] ? 'assets/user-active.svg' : 'assets/user-disabled.svg' }}"
                 width="24">
            <p class="sidebar-item">Профиль</p>
        </button>
    </div>
</nav>
