<nav class="sidebar">
    <ul class="sidebar-menu-list">
        <li class="sidebar-menu-list-item">
            <div class="sidebar-header">
                <p class="sidebar-title">Мастерска<span>Я</span></p>
            </div>
        </li>
        <li class="sidebar-menu-list-item">
            <button (click)="toggleStateSidebar('isOrdersClicked')"
                    [class.active]="statesTabs['isOrdersClicked']"
                    class="sidebar-router"
                    routerLink="/crm/orders"
                    routerLinkActive
            >
                <img alt="Заказы"
                     height="24"
                     ngSrc="{{ statesTabs['isOrdersClicked'] ? 'assets/orders-active.svg' : 'assets/orders-disabled.svg' }}"
                     width="24">
                <p class="sidebar-item">Заказы</p>
            </button>
        </li>

        <li class="sidebar-menu-list-item">
            <button (click)="toggleStateSidebar('isClientsClicked')"
                    [class.active]="statesTabs['isClientsClicked']"
                    class="sidebar-router"
                    routerLink="/crm/clients"
                    routerLinkActive
            >
                <img
                    alt="Клиенты"
                    height="24"
                    ngSrc="{{ statesTabs['isClientsClicked'] ? 'assets/clients-active.svg' : 'assets/clients-disabled.svg' }}"
                    width="24">
                <p class="sidebar-item">Клиенты</p>
            </button>
        </li>

        <li class="sidebar-menu-list-item">
            <button (click)="toggleStateSidebar('isProductsClicked')"
                    [class.active]="statesTabs['isProductsClicked']"
                    class="sidebar-router"
                    routerLink="/crm/products"
                    routerLinkActive
            >
                <img
                    alt="Товары"
                    height="24"
                    ngSrc="{{ statesTabs['isProductsClicked'] ? 'assets/products-active.svg' : 'assets/products-disabled.svg' }}"
                    width="24">
                <p class="sidebar-item">Товары</p>
            </button>
        </li>

        <li class="sidebar-menu-list-item">
            <button (click)="toggleStateSidebar('isShopClicked')"
                    [class.active]="statesTabs['isShopClicked']"
                    class="sidebar-router"
                    routerLink="/crm/shop"
                    routerLinkActive
            >
                <img alt="Магазин"
                     height="24"
                     ngSrc="{{ statesTabs['isShopClicked'] ? 'assets/shop-active.svg' : 'assets/shop-disabled.svg' }}"
                     width="24">
                <p class="sidebar-item">Магазин</p>
            </button>
        </li>
    </ul>

    <div class="sidebar-menu-list-item-profile">
        <button (click)="toggleStateSidebar('isProfileClicked')"
                [class.active]="statesTabs['isProfileClicked']"
                class="sidebar-router profile"
                routerLink="/crm/profile"
                routerLinkActive
        >
            <img alt="Профиль"
                 class="sidebar-img"
                 height="24"
                 ngSrc="{{ statesTabs['isProfileClicked'] ? 'assets/user-active.svg' : 'assets/user-disabled.svg' }}"
                 width="24">
            <p class="sidebar-item">Профиль</p>
        </button>
    </div>
</nav>
