.back-to-products {
    background: none;
    border: none;

    margin-top: -2px;

    cursor: pointer;
}

.scrollbar {
    height: 100%;
    width: 100%;
}

.content-product-header {
    display: grid;
    align-items: center;

    grid-template-columns: 36px auto;

    margin-top: 32px;
}

.product-add-table {
    min-height: 80%;
    display: grid;
    grid-template-columns: 1fr 54px 1fr;

    margin-top: 24px;
}

.product-add-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--text-white);

    margin-bottom: 24px;
}

.stroke {
    min-height: 100%;
}

.tui-input-name {
    margin-top: 4px;
    margin-bottom: 16px;

    margin-right: 60px;
}

.field-large {
    min-height: 12rem;
    margin-bottom: 24px;
}

.profile-item {
    margin-top: 0;
    margin-bottom: 0;
}

.profile-finish-section {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.profile-save {
    background: var(--main-blue);
    border-radius: 8px;
    border: 2px solid var(--main-blue);

    padding: 10px 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--text-white);

    margin-right: 10px;

    cursor: pointer;
}

.profile-cancel {
    background: none;
    border-radius: 8px;
    border: 2px solid var(--main-blue);

    padding: 10px 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--text-white);

    cursor: pointer;
}

.tui-data-list {
    max-height: 220px;
}

.profile-save:hover {
    background: #28aaff;
    border: 2px solid #28aaff;
}

.profile-save:active {
    background: #005acd;
    border: 2px solid #005acd;
}

.profile-cancel:hover {
    background: #28aaff;
    border: 2px solid #28aaff;
}

.profile-cancel:active {
    background: #005acd;
    border: 2px solid #005acd;
}

.delete-button {
    display: flex;
    align-items: center;
    align-self: center;
    background: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    cursor: pointer;

    height: 50px;
}

.delete-button:hover {
    border: 1px solid var(--main-blue);
    border-radius: 10px;
}

.delete-button:active {
    background: var(--main-blue);
}

.add-product-button:active {
    background: #005acd;
    border: 2px solid #005acd;
}
