.profile-data-item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: var(--text-light-grey);
}

.info-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--text-white);

    margin-bottom: 16px;
}

.header-info {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.info-product-button {
    background: none;
    border: none;

    margin-right: 60px;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: var(--text-light-grey);

    cursor: pointer;
}

.info-product-button:hover {
    color: var(--text-white);
}

.back-to-products {
    background: none;
    border: none;

    margin-top: -2px;

    cursor: pointer;
}

.content-product-header {
    display: grid;
    align-items: center;

    grid-template-columns: 36px auto;

    margin-top: 32px;
}

.product-add-table {
    display: grid;
    grid-template-columns: 1fr 54px 1fr;
    height: 100%;

    margin-top: 24px;
}

.product-add-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--text-white);

    margin-bottom: 24px;
}

.stroke {
    min-height: 100%;
}

.tui-input-name {
    margin-top: 4px;
    margin-bottom: 16px;

    margin-right: 60px;
}

.field-large {
    min-height: 12rem;
    margin-bottom: 24px;
}

.profile-item {
    margin-top: 0;
    margin-bottom: 0;
}

.product-add-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--text-white);
    margin-bottom: 24px;
}

.data-client {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: var(--text-white);

    margin-bottom: 20px;
}

.client-order-section {
    margin-bottom: 80px;
}

.date-container {
    margin-right: 50px;
}

.lines {
    width: 100%;
    height: 60px;
    position: relative;
}

.lines:after, .lines:before {
    content: '';
    position: absolute;
    margin: auto;
    height: 1px;
    background: var(--stroke-dark-grey);
    width: 35.4%;
    top: 25%;
}

.lines:after {
    left: 0;
}

.lines:before {
    right: 0;
}

.history-date {
    background: var(--fields-form);

    border-radius: 10px;
    padding: 8px 16px;

    width: 129px;

    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: var(--text-light-grey);

    text-align: center;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin: auto;
}

.orders-container {
    display: flex;
    flex-direction: column;

    background: var(--fields-form);

    border: 1px solid var(--fields-stroke-input);
    border-radius: 10px;
    padding: 12px 20px;

    margin-right: 50px;

    margin-bottom: 24px;
}

.first-section-order {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.client-fullName {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: var(--text-white);
}

.order-stage-prev {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: var(--text-light-grey);
}

.order-stage {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--text-white);
}

.order-totalAmount {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: var(--text-light-grey);

    align-self: center;
}

.info-product-sec {
    background: var(--fields-form);
    border: 1px solid var(--fields-stroke-input);
    border-radius: 10px;
    padding: 12px 20px;

    margin-right: 60px;

    margin-top: 8px;
    margin-bottom: 24px;

    display: flex;
    align-items: center;
    align-self: center;
    justify-content: start;
}

.info-sec-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--text-white);
}

.info-sec-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--text-light-grey);
}

.info-product-price {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: var(--text-white);

    margin-bottom: 16px;
}

.photo-product {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.info-product-t {
    display: flex;
    justify-content: space-between;
}

.info-product-section {
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-left: 10px;
    margin-right: auto;
}

.btn-section {
    display: flex;
    align-self: center;
}

.delete_icon {
    border-radius: 10px;
    padding: 4px;
    background: none;
    border: 1px solid transparent;

    margin-left: 16px;
}

.delete_icon:hover {
    border: 1px solid var(--main-blue);
}

.delete_icon:active {
    background: var(--main-blue);
    border: 1px solid var(--main-blue);
}

.count-pr {
    display: flex;
    gap: 8px;
    align-items: start;
    justify-content: center;

    align-self: center;
}

.count-product {
    border: 1px solid var(--stroke-dark-grey);
    border-radius: 8px;
    padding: 6px 10px;

    background: none;

    width: 40px;

    align-self: center;
    text-align: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--text-white);
}

.pr-icon {
    background: none;
    border-radius: 10px;
    padding: 4px;

    border: 1px solid transparent;
}

.pr-icon:hover {
    border: 1px solid var(--main-blue);
}

.pr-icon:active {
    background: var(--main-blue);
    border: 1px solid var(--main-blue);
}

.pr-icon-disabled {
    pointer-events: none;
    opacity: 0.5;
    background: none;
    border-radius: 10px;
    padding: 4px;

    border: 1px solid transparent;
}

.profile-finish-section {
    display: flex;
    align-items: start;
    justify-content: flex-start;

    margin-bottom: 125px;

}

.profile-save {
    background: var(--main-blue);
    border-radius: 8px;
    border: 2px solid var(--main-blue);

    padding: 10px 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--text-white);

    margin-right: 10px;

    cursor: pointer;
}

.profile-cancel {
    background: none;
    border-radius: 8px;
    border: 2px solid var(--main-blue);

    padding: 10px 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--text-white);

    cursor: pointer;
}

.profile-save:hover {
    background: #28aaff;
    border: 2px solid #28aaff;
}

.profile-save:active {
    background: #005acd;
    border: 2px solid #005acd;
}

.profile-cancel:hover {
    background: #28aaff;
    border: 2px solid #28aaff;
}

.profile-cancel:active {
    background: #005acd;
    border: 2px solid #005acd;
}

@media (max-width: 1280px) {
    .lines:after, .lines:before {
        width: 23%;
    }
}
