<div class="main-content-crm">
    <div class="main-content-crm-second">
        <app-sidebar></app-sidebar>
        <div class="main-content-crm-full">
            <div class="content-crm">
                <div class="content-product-header">
                    <button (click)="navigateToPreviousPage()" class="back-to-products">
                        <img alt="back" height="24" ngSrc="assets/chevron_left.svg" width="24">
                    </button>
                    <p class="content-crm-title">{{ product?.name }}</p>
                </div>


                <div class="product-add-table">
                    <div>
                        <div class="header-info">
                            <p class="product-add-title">Основное</p>
                            <button (click)="navigateToUpdateInfoPage(product.id)" class="info-product-button">Изменить
                            </button>
                        </div>

                        <div class="profile-data">
                            <div class="profile-data-list">
                                <div class="profile-data-item-title">Название</div>
                                <p class="info-product">
                                    {{ product?.name }}
                                </p>
                                <p class="profile-data-item-title">Цена</p>
                                <p class="info-product">
                                    {{ product?.price + ' ₽' }}
                                </p>
                                <p class="profile-data-item-title">Материал</p>
                                <p class="info-product">
                                    {{ product?.material }}
                                </p>
                                <p class="profile-data-item-title">Размер (ДхШхВ), см</p>
                                <p class="info-product">
                                    {{ product?.dimensions }}
                                </p>
                                <p class="profile-data-item-title">Описание</p>
                                <p [innerHTML]="product?.description" class="info-product">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <svg class="stroke" fill="none" width="2" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L1.00003 900" stroke="#2E313A" stroke-linecap="round"/>
                        </svg>
                    </div>

                    <app-product-photos></app-product-photos>
                </div>
            </div>
        </div>
    </div>
</div>
