<div class="main-content-crm">
    <div class="main-content-crm-second">
        <app-sidebar></app-sidebar>
        <div class="main-content-crm-full">
            <div class="content-crm">
                <div class="orders">
                    <div class="content-crm-header">
                        <p class="content-crm-title">Заказы</p>
                        <tui-input
                            [(ngModel)]="search"
                            [tuiTextfieldCleaner]="true"
                            [tuiTextfieldLabelOutside]="true"
                            class="input-search"
                            tuiTextfieldIconLeft="tuiIconSearch"
                            tuiTextfieldSize="m"
                        >
                            <p class="input-search-title">Поиск</p>
                        </tui-input>
                    </div>

                    <div class="orders-title">
                        <button class="add-orders-button">
                            Добавить заказ
                        </button>
                        <p class="all-orders">
                            Всего заказов: {{ 0 }}
                        </p>
                    </div>
                </div>

                <div class="orders">
                    <div class="orders-sort-title">
                        <button [class.orders-sort-item-click]="statesTabs['isAllOrders']"
                                class="orders-sort-item"
                                routerLink="/crm/orders/all-orders"
                                routerLinkActive
                        >
                            Все заказы
                        </button>

                        <button [class.orders-sort-item-click]="statesTabs['isNewOrders']"
                                class="orders-sort-item"
                                routerLink="/crm/orders/new-orders"
                                routerLinkActive
                        >
                            Новый заказ
                        </button>

                        <button [class.orders-sort-item-click]="statesTabs['isProgressOrders']"
                                class="orders-sort-item"
                                routerLink="/crm/orders/progress-orders"
                                routerLinkActive
                        >
                            В работе
                        </button>

                        <button [class.orders-sort-item-click]="statesTabs['isDeliveryOrders']"
                                class="orders-sort-item"
                                routerLink="/crm/orders/delivery-orders"
                                routerLinkActive
                        >
                            Доставка
                        </button>


                    </div>

                    <div class="orders-sort-second-title">
                        <button [class.orders-sort-item-click]="statesTabs['isArchiveOrders']"
                                class="orders-sort-item"
                                routerLink="/crm/orders/archive-orders"
                                routerLinkActive
                        >
                            Архив
                        </button>
                        <button (click)="openDialogSettings(settings)" class="settings-orders">
                            <tui-marker-icon [class.custom-active]="isSettingsClicked" class="custom"
                                             size="xxs" src="tuiIconSettingsLarge"></tui-marker-icon>
                        </button>
                    </div>
                </div>

                <tui-root>
                    <router-outlet></router-outlet>
                </tui-root>
            </div>
        </div>
    </div>
    <ng-template #settings let-observer>
        <app-settings [observer]="observer"></app-settings>
    </ng-template>
</div>

<app-settings class="hidden-pop"></app-settings>
