<div class="pop-up-add-title">
    Новый товар
</div>

<tui-scrollbar>
    <p class="order-add-title">Данные клиента</p>
</tui-scrollbar>

<section class="finish-section">
    <button appearance="delete-custom"
            class="save-button"
            size="m" tuiButton
            type="button">
        Удалить
    </button>
    <button appearance="custom-cancel"
            class="cancel-button"
            size="m" tuiButton
            type="button">
        Отменить
    </button>
</section>

