<div class="main-content-crm">
    <div class="main-content-crm-second">
        <app-sidebar></app-sidebar>
        <div class="main-content-crm-full">
            <div class="content-crm">
                <div class="content-client-header">
                    <button (click)="navigateToPreviousPage(client!.id)" class="back-to-client">
                        <img alt="back" height="24" ngSrc="assets/chevron_left.svg" width="24">
                    </button>
                    <p class="content-crm-title">{{ 'Клиент ' + shortenFullName(client?.fullName) }}</p>
                </div>

                <div class="client-add-table">
                    <div>
                        <p class="client-add-title">Основное</p>
                        <tui-root>
                            <form [formGroup]="formClientInfo" class="profile-data">
                                <div class="profile-data-list">
                                    <div class="profile-data-item-title">ФИО</div>
                                    <tui-input
                                        [tuiTextfieldCleaner]="true"
                                        [tuiTextfieldLabelOutside]="true"
                                        class="tui-input-name"
                                        formControlName="fullName"
                                        tuiTextfieldSize="m"
                                    >
                                        <input
                                            autocomplete="fullName"
                                            tuiTextfield
                                            type="text"
                                        />
                                    </tui-input>
                                    <p class="profile-data-item-title">Телефон</p>
                                    <tui-input
                                        [tuiTextfieldCleaner]="true"
                                        [tuiTextfieldLabelOutside]="true"
                                        class="tui-input-name"
                                        formControlName="phone"
                                        tuiTextfieldSize="m"
                                    >
                                        <input
                                            autocomplete="phone"
                                            tuiTextfield
                                            type="text"
                                        />
                                    </tui-input>
                                    <p class="profile-data-item-title">Электронная почта</p>
                                    <tui-input
                                        [tuiTextfieldCleaner]="true"
                                        [tuiTextfieldLabelOutside]="true"
                                        class="tui-input-name"
                                        formControlName="email"
                                        tuiTextfieldSize="m"
                                    >
                                        <input
                                            autocomplete="email"
                                            tuiTextfield
                                            type="text"
                                        />
                                    </tui-input>
                                </div>
                            </form>
                        </tui-root>
                        <section class="profile-finish-section">
                            <button (click)="updateClientInfo()" class="profile-save">
                                <p class="profile-logout-title">Сохранить</p>
                            </button>
                            <button (click)="navigateToPreviousPage(client!.id)" class="profile-cancel">
                                <p class="profile-logout-title">Отменить</p>
                            </button>
                        </section>
                    </div>

                    <div>
                        <svg class="stroke" fill="none" width="2" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1L1.00003 800" stroke="#2E313A" stroke-linecap="round"/>
                        </svg>
                    </div>

                    <tui-scrollbar>
                        <app-order-history [clientId]="clientId"></app-order-history>
                    </tui-scrollbar>
                </div>
            </div>
        </div>
    </div>
</div>
