<header class="navigation">
    <ul class="menu-list">
        <li class="menu-list-item">
            <a href="#main">
                <img alt="Логотип" height="34" ngSrc="assets/logo.svg" width="81">
            </a>
        </li>
    </ul>
    <div class="navigation-container">
        <button (click)="openDialogLogIn(login)" class="authorization-btn">ВОЙТИ</button>
        <button (click)="openDialogRegistration(registration)" class="registration-btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>
    </div>

    <ng-template #login>
        <app-login></app-login>
    </ng-template>

    <ng-template #registration>
        <app-registration></app-registration>
    </ng-template>
</header>

<app-login class="hidden-auth"></app-login>
<app-registration class="hidden-auth"></app-registration>
