<header class="navigation">
    <ul class="menu-list">
        <li class="menu-list-item">
            <div class="header-welcome">
                <p class="header-title">Мастерска<span>Я</span></p>
            </div>
        </li>
    </ul>
    <div class="navigation-container">
        <button (click)="openDialogLogIn(login)" class="authorization-btn">ВОЙТИ</button>
        <button (click)="openDialogRegistration(registration)" class="registration-btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>
    </div>

    <ng-template #login>
        <app-login></app-login>
    </ng-template>

    <ng-template #registration>
        <app-registration></app-registration>
    </ng-template>
</header>

<app-login class="hidden-pop"></app-login>
<app-registration class="hidden-pop"></app-registration>
