<form class="pop-up">
    <div class="pop-up-settings-title">
        Настройки
    </div>

    <section class="finish-section">
        <button appearance="custom"
                class="save-button"
                size="m" tuiButton
                type="button">
            Сохранить
        </button>
        <button (click)="onCancel()" appearance="custom-cancel"
                class="cancel-button"
                size="m" tuiButton
                type="button">
            Отменить
        </button>
    </section>
</form>
