@import "@taiga-ui/core/styles/taiga-ui-local.scss";

[tuiWrapper][data-appearance='custom'] {
    background: #0082F5;
    border: 2px solid var(--main-blue);
    color: #fff;
    margin-top: 24px;

    .wrapper-hover {
        background: #0082F5;
    }

    .wrapper-active {
        background: #0082F5;
    }

    .wrapper-disabled {
        background: #eaecee;
    }
}

[tuiWrapper][data-appearance='delete-custom'] {
    background: #C70803;
    border: 2px solid #C70803;
    color: #fff;
    margin-top: 24px;

    .wrapper-hover {
        background: #0082F5;
    }

    .wrapper-active {
        background: #0082F5;
    }

    .wrapper-disabled {
        background: #eaecee;
    }
}

[tuiWrapper][data-appearance='custom-cancel'] {
    border: 2px solid var(--main-blue);
    border-radius: 8px;
    padding: 10px 24px;
    background: none;
    margin-top: 24px;
    margin-left: 12px;

    .wrapper-hover {
        background: #0082F5;
    }

    .wrapper-active {
        background: #0082F5;
    }

    .wrapper-disabled {
        background: #eaecee;
    }
}

[tuiWrapper][data-appearance='textfield'] {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--text-white);
}

.t-wrapper[_ngcontent-ng-c3323831375] {
    width: 35% !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background: var(--bg-dark-blue-1);
}

img {
    display: block;
}

:root {
    --text-black: #212121;
    --text-white: #ffffff;
    --text-light-grey: #c3c7cd;
    --main-blue: #0082f5;
    --bg-dark-blue-1: #0f1319;
    --bg-dark-blue-2: #14181e;
    --stroke-dark-grey: #2e313a;
    --fields-stroke-input: #383b44;
    --fields-form: #1e2228;
    --tui-elevation-01: #0f1319;
    --tui-base-01: #1e2228;
    --tui-text-01: var(--text-light-grey);
    --tui-base-03: #2e313a;
    --text-disabled: #464a50;
    --tui-elevation-02: var(--bg-dark-blue-2);
    --tui-base-04: var(--stroke-dark-grey);
    --tui-shadow-dropdown: 0 4px 8px 0 rgba(46, 49, 58, 0.2);
    --sample-grey: rgba(33, 33, 33, 0.7);
    --sample-lightgrey-hover: rgba(33, 33, 33, 0.1);

    --tui-font-text-s: 'Nunito Sans';
}
