<form [formGroup]="formLogin" class="pop-up">
    <div class="pop-up-title">
        Вход
    </div>
    <div>
        <p class="input-title">Электронная почта</p>
        <tui-input
            [tuiTextfieldCleaner]="true"
            [tuiTextfieldLabelOutside]="true"
            formControlName="email"
            tuiTextfieldSize="m"
        >
            <input
                autocomplete="email"
                tuiTextfield
                type="email"
            />
        </tui-input>
        <div *ngIf="isControlError('email')" class="error-message">
            <div *ngIf="isControlRequired('email')">
                Email обязателен.
            </div>
            <div *ngIf="isEmailInvalid('email')">
                Некорректный email.
            </div>
        </div>
    </div>
    <div>
        <p class="pass">Пароль</p>
        <tui-input-password
            [tuiTextfieldCleaner]="true"
            [tuiTextfieldLabelOutside]="true"
            formControlName="password"
            tuiTextfieldSize="m"
        >
            <input
                autocomplete="password"
                tuiTextfield
                type="password"
            />
        </tui-input-password>
        <div *ngIf="isControlError('password')" class="error-message">
            <div *ngIf="isControlRequired('password')">
                Пароль обязателен.
            </div>
            <div *ngIf="isPasswordInvalid('password')">
                Пароль должен быть длиннее 6 символов.
            </div>
        </div>
    </div>

    <button (click)="logInUser()" [disabled]="formLogin.invalid"
            appearance="custom"
            size="m" tuiButton
            type="button">
        Войти
        <svg class="arrow" fill="none" height="24" viewBox="0 0 24 24" width="24"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M17.25 8.25L21 12M21 12L17.25 15.75M21 12H3" stroke="white" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1.5"/>
        </svg>
    </button>

    <svg class="stroke" fill="none" height="2" viewBox="0 0 351 2" width="351" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L349 1.00003" stroke="#2E313A" stroke-linecap="round" stroke-width="2"/>
    </svg>

    <button class="socials-btn">
        <img alt="вк" class="socials" height="40" ngSrc="assets/socials.svg" width="40">
    </button>
</form>
