<form [formGroup]="formPassword" class="pop-up">
    <div class="pop-up-title">
        Смена пароля
    </div>
    <div>
        <p class="pass">Старый пароль</p>
        <tui-input-password
            [tuiTextfieldCleaner]="true"
            [tuiTextfieldLabelOutside]="true"
            formControlName="oldPassword"
            tuiTextfieldSize="m"
        >
            <input
                autocomplete="oldPassword"
                tuiTextfield
                type="password"
            />
        </tui-input-password>
    </div>

    <div>
        <p class="pass">Новый пароль</p>
        <tui-input-password
            [tuiTextfieldCleaner]="true"
            [tuiTextfieldLabelOutside]="true"
            formControlName="newPassword"
            tuiTextfieldSize="m"
        >
            <input
                autocomplete="password"
                tuiTextfield
                type="password"
            />
        </tui-input-password>
        <div *ngIf="isControlError('newPassword')" class="error-message">
            <div *ngIf="isControlRequired('newPassword')">
                Пароль обязателен.
            </div>
            <div *ngIf="isPasswordInvalid('newPassword')">
                Пароль должен быть длиннее 6 символов.
            </div>
        </div>
    </div>

    <section class="password-section">
        <button (click)="updateUserPassword()" [disabled]="formPassword.invalid" appearance="custom"
                class="save-button"
                size="m" tuiButton
                type="button">
            Сохранить
        </button>
        <button (click)="onCancel()" appearance="custom-cancel"
                class="cancel-button"
                size="m" tuiButton
                type="button">
            Отменить
        </button>
    </section>
</form>
